@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
  box-sizing: border-box;
}
body {
  @apply bg-gray-100;
}

.link-wrapped::before {
  @apply cursor-pointer;
  @apply z-10;
  @apply inset-0;
  @apply absolute;
  content: "";
}

/* .input-wrapper {
  @apply border;
}
input:focus .input-wrapper {
  @apply ring ring-indigo-600;
} */

button.effect:active {
  @apply bg-indigo-700;
  @apply shadow-md;
  transform: translateY(4px);
}

.my-dropdown-enter {
  opacity: 0;
}
.my-dropdown-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-dropdown-exit {
  opacity: 1;
}
.my-dropdown-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.modal-close {
  @apply absolute right-0 cursor-pointer inline-block;
  width: 30px;
  height: 30px;
}

.modal-close::before,
.modal-close::after {
  @apply absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  content: "";
  background-color: black;
  margin-left: -25%;
}

.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}

.overlay {
  @apply transition-all duration-500;
}
.overlay-enter {
  opacity: 0;
}
.overlay-enter-active {
  opacity: 1;
}
.overlay-exit {
  opacity: 1;
}
.overlay-exit-active {
  opacity: 0;
}
.overlay-enter-done {
  opacity: 1;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
